[ed-heb] {
  text-align: right;
  direction: rtl;
  unicode-bidi: embed;
  font-family: open-sans;
  font-size: 15px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}
.ed-header .header-item-number {
  border-left: thin solid #DEE5E7;
}
.ed-header .header-item-number div {
  padding-right: 15px;
}
.ed-header .brand-name div {
  padding-left: 15px;
  transform: translateY(75%);
}
.ed-background {
  position: absolute;
  font-weight: bold;
  color: white;
  background: #eff3f4;
  background-image: url("resources/images/fruitsBackground.jpg");
  background-size: cover;
  min-height: 100px;
}
.ed-tint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.ed-Button {
  background-color: #0cb6e7;
  color: white;
  border-top-color: #0cb6e7;
  border-left-color: #0cb6e7;
  border-right-color: #0cb6e7;
  border-bottom-color: #0082b5;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  text-align: center;
}
.ed-stores-select {
  background: #eff3f4;
  background-image: url("resources/images/fruitsBackground.jpg");
  background-size: cover;
  position: relative;
  min-height: 100px;
}
.ed-stores-select .content-wrapper {
  margin-top: 20px;
}
.ed-stores-select .content-wrapper .ed-header {
  font-weight: bold;
  color: white;
}
.ed-stores-select .content-wrapper .remove-glyph-button {
  margin-top: 8px;
}
.ed-stores-select .content-wrapper .remove-glyph-button:hover {
  color: #ab1010;
}
.ed-stores-select .content-wrapper .store-items-wrapper {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}
.ed-stores-select .content-wrapper .store-items-wrapper .ed-store-selection-list {
  padding-top: 20px;
}
.ed-stores-select .content-wrapper .store-items-wrapper .ed-store-selection-list .ed-store-selection-item {
  margin-bottom: 5px;
  margin-right: 20px;
}
.ed-stores-select .content-wrapper .store-items-wrapper .ed-store-selection-list .ed-add-store-button {
  margin-right: 15px;
  margin-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
  text-decoration: underline;
  outline: none;
  color: #46c7ec;
}
.ed-stores-select .content-wrapper .store-items-wrapper .ed-store-selection-list .ed-add-store-button:hover {
  color: #3826a3;
}
.ed-product-selection-list {
  margin-top: 15px;
  padding-bottom: 0;
}
.ed-product-selection-list .ed-search-glyph {
  color: #DEE5E7;
  position: absolute;
  left: 25px;
  top: 10px;
}
.ed-product-selection-list .ed-compare-button {
  font-weight: bold;
}
.ed-product-selection-list .ed-search-label {
  top: 5px;
  font-size: 17px;
}
.ed-product-selection-list .ed-product-floating-list {
  z-index: 100;
  border: 1px solid #c0c0c0;
  background: white;
  position: absolute;
  top: 37px;
  left: 13px;
  right: 17px;
  height: 250px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 2px 4px;
}
.ed-product-selection-list .ed-product-selection-item {
  margin: 5px 10px 5px 10px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1.2px solid #DEE5E7;
}
.ed-product-selection-list .ed-product-selection-item .ed-product-description {
  margin-right: 10px;
  width: 50%;
  transform: translateY(-5px);
}
.ed-product-selection-list .ed-product-selection-item .ed-product-img {
  height: 32px;
  border: 1px solid #DEE5E7;
}
.ed-product-selection-list .ed-product-selection-item .ed-select-quantity {
  width: 85px;
}
.ed-cart-selection-list .ed-cart-selection-header {
  background-color: #eff3f4;
  margin: 15px 13px 0 15px;
  padding: 15px 40px;
  height: 50px;
}
.ed-cart-selection-list .ed-message-no-products {
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.ed-cart-selection-list .ed-product-selection-item {
  margin: 5px 10px 5px 10px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1.2px solid #DEE5E7;
}
.ed-cart-selection-list .ed-product-selection-item .ed-product-description {
  padding-right: 10px;
}
.ed-cart-selection-list .ed-product-selection-item .ed-product-description .ed-product-name {
  position: absolute;
  display: inline;
}
.ed-cart-selection-list .ed-product-selection-item .ed-product-description .ed-product-quantity {
  direction: ltr;
  display: inline;
  position: relative;
  right: 50%;
}
.ed-cart-selection-list .ed-product-selection-item .ed-product-img {
  height: 42px;
  border: 1px solid #DEE5E7;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.ed-vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}