<li class="ed-product-selection-item">
    <div class="row">
        <div class="col-sm-2 ed-add-remove-button">
            <button class="ed-Button" ng-click="$ctrl.productButtonClicked()">{{$ctrl.isAddButton ? 'הוסף' : 'הסר'}}</button>
        </div>
        <div class="col-sm-2 ed-select-quantity">
            <input class="form-control" type="number" ng-model="$ctrl.product.selectedQuantity" />
        </div>
        <div class="col-sm-7 ed-product-description">
            <div>
                <div class="ed-product-name">
                    <label>{{$ctrl.product.name}}</label>
                </div>
                <div class="ed-product-quantity">
                    <span class="ed-units-quantity">יח': {{$ctrl.product.unitsQuantity}}</span>
                    <br/>
                    <span class="ed-units">{{$ctrl.product.units}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <img src="/resources/images/placeholder.png" class="ed-product-img" />
        </div>
    </div>
</li>
