<div class="row ed-products-select" ed-heb>
    <div class="col-md-8 content-wrapper col-centered">
        <ed-product-selection-list products="$ctrl.products"
                                   selected-products="$ctrl.selectedProducts"
                                   on-product-change="$ctrl.productChanged()"></ed-product-selection-list>
        <ed-cart-selection-list products="$ctrl.products"
                                selected-products="$ctrl.selectedProducts"
                                on-product-change="$ctrl.productChanged()"></ed-cart-selection-list>
    </div>
</div>