<div class="row ed-stores-select" ed-heb>
    <div class="ed-tint"></div>
    <div class="col-md-8 content-wrapper col-centered">
        <!--<h4 class="ed-header">אתר השוואת המחירים המוביל בישראל</h4>-->
        <div class="store-items-wrapper">
            <ed-store-selection-list chains="$ctrl.chains"
                                     store-selection-list="$ctrl.storeSelectionList"
                                     on-store-select="$ctrl.onStoreSelected()"
                                     ed-heb></ed-store-selection-list>
        </div>
    </div>
</div>
